<h1>
    <STRONG>Transfer Transaction History</STRONG>
</h1>
<br>
<div class="input-group mb-3">
    <h5>Select Account </h5>

    <select class="form-select" aria-label="Chọn tài khoản" [(ngModel)]="accountNumber" (ngModelChange)="loadHistoryTransfer()">
      <option disabled selected>Select Account</option>
      <option *ngFor="let account of allAccount" [value]="account.accountNumber">{{ account.accountNumber }}</option>
    </select>
</div>

<h1>List History</h1>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">From Account</th>
            <th scope="col">To Account</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Date At</th>
        </tr>
    </thead>
    <tbody *ngIf="paginatedDataTransfer.length > 0">
        <tr *ngFor="let dt of paginatedDataTransfer">
            <td>{{dt.fromAccountNumber}}</td>
            <td>{{dt.toAccountNumber}}</td>
            <td>{{dt.amount}}</td>
            <td>{{dt.transactionType}}</td>
            <td>{{dt.transactionDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
        </tr>
    </tbody>
</table>
<div *ngIf="paginatedDataTransfer.length === 0">
    <span>Không tìm thấy lịch sử giao dịch.</span>
</div>

<mat-paginator #paginator class="demo-paginator" (page)="onPageChange($event)" [length]="historyTransfer.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true">
</mat-paginator>